In [5]:
import numpy as np
import pandas as pd
import tensorflow
import keras

In [2]:
# Customer exited or not

In [7]:
df=pd.read_csv('Churn_Modelling.csv')

In [8]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df.drop(columns=['RowNumber', 'CustomerId'], inplace=True)

In [10]:
df.drop(columns=['Surname'], inplace=True)

In [11]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
df = pd.get_dummies(data=df, columns=['Geography', 'Gender'])
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,True,False,False,True,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,False,True,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,True,False,False,True,False
3,699,39,1,0.00,2,0,0,93826.63,0,True,False,False,True,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,False,True,True,False

In [13]:
df.isnull().sum()

CreditScore          0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_France     0
Geography_Germany    0
Geography_Spain      0
Gender_Female        0
Gender_Male          0
dtype: int64

In [43]:
df.isna().sum()

CreditScore          0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_France     0
Geography_Germany    0
Geography_Spain      0
Gender_Female        0
Gender_Male          0
dtype: int64

In [15]:
df.shape

(10000, 14)

In [44]:
X=df.drop("Exited", axis=1)
Y=df["Exited"]

In [52]:
X_test.shape

(3000, 13)

In [53]:
Y_test.shape

(3000,)

In [55]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=1)

In [65]:
X_train = X_train.astype('float32')
Y_train = Y_train.astype('float32')
X_test = X_test.astype('float32')
Y_test = Y_test.astype('float32')

In [57]:
X_train.shape

(7000, 13)

In [51]:
Y_train.shape

(7000,)

In [58]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [60]:
model = Sequential()

In [61]:
model.add(Dense(units=6, activation='relu',input_dim=13))
model.add(Dense(units=6, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [62]:
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [63]:
model.fit(X_train, Y_train, batch_size=10, epochs=10, validation_split=0.1)

Epoch 1/10
630/630 [==============================] - 2s 2ms/step - loss: 80.0690 - accuracy: 0.6476 - val_loss: 1.3999 - val_accuracy: 0.3743
Epoch 2/10
630/630 [==============================] - 1s 1ms/step - loss: 1.6677 - accuracy: 0.7313 - val_loss: 2.2813 - val_accuracy: 0.7800
Epoch 3/10
630/630 [==============================] - 1s 1ms/step - loss: 1.2851 - accuracy: 0.7344 - val_loss: 0.5663 - val_accuracy: 0.7800
Epoch 4/10
630/630 [==============================] - 1s 1ms/step - loss: 1.1851 - accuracy: 0.7440 - val_loss: 1.5854 - val_accuracy: 0.7800
Epoch 5/10
630/630 [==============================] - 1s 1ms/step - loss: 1.0602 - accuracy: 0.7475 - val_loss: 1.4542 - val_accuracy: 0.7686
Epoch 6/10
630/630 [==============================] - 1s 1ms/step - loss: 1.0349 - accuracy: 0.7514 - val_loss: 0.7628 - val_accuracy: 0.7800
Epoch 7/10
630/630 [==============================] - 1s 1ms/step - loss: 0.9576 - accuracy: 0.7568 - val_loss: 0.5628 - val_accuracy: 0.7800
Epoch 8/10
630/630 [==============================] - 1s 1ms/step - loss: 0.9324 - accuracy: 0.7560 - val_loss: 0.5503 - val_accuracy: 0.7800
Epoch 9/10
630/630 [==============================] - 1s 1ms/step - loss: 0.6562 - accuracy: 0.7748 - val_loss: 0.5815 - val_accuracy: 0.7800
Epoch 10/10
630/630 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7894 - val_loss: 0.5228 - val_accuracy: 0.7800

In [68]:
from sklearn.metrics import r2_score
Y_pred = model.predict(X_test)
r2_score(Y_test, Y_pred)

94/94 [==============================] - 0s 834us/step

-0.013509713921217026