In [2]:
import numpy as np
import pandas as pd
import tensorflow
import keras

2024-04-02 16:04:14.232244: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [3]:
df = pd.read_csv('titanic-training-data.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin' ], inplace=True)

In [6]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [7]:
df.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [8]:
df=pd.get_dummies(df, columns=["Sex","Embarked"])
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,False,True,False,False,True
1,1,1,38.0,1,0,71.2833,True,False,True,False,False
2,1,3,26.0,0,0,7.9250,True,False,False,False,True
3,1,1,35.0,1,0,53.1000,True,False,False,False,True
4,0,3,35.0,0,0,8.0500,False,True,False,False,True

In [9]:
df.dtypes

Survived        int64
Pclass          int64
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Sex_female       bool
Sex_male         bool
Embarked_C       bool
Embarked_Q       bool
Embarked_S       bool
dtype: object

In [10]:
df.isnull().sum()

Survived        0
Pclass          0
Age           177
SibSp           0
Parch           0
Fare            0
Sex_female      0
Sex_male        0
Embarked_C      0
Embarked_Q      0
Embarked_S      0
dtype: int64

In [25]:
df['Age'].fillna(df['Age'].mean(), inplace=True)

In [26]:
df.isna().sum()

Survived      0
Pclass        0
Age           0
SibSp         0
Parch         0
Fare          0
Sex_female    0
Sex_male      0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [27]:
from sklearn.model_selection import train_test_split

Y=df["Survived"]
X =df.drop(["Survived"], axis=1)





X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=1)

In [28]:
X_train = X_train.astype('float32')
Y_train = Y_train.astype('float32')

In [29]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split


model=Sequential()
model.add(Dense(units=20,activation="relu",input_dim=10,kernel_initializer='uniform'))
model.add(Dense(units=20,kernel_initializer='uniform',activation="relu"))
model.add(Dense(units=5,kernel_initializer='uniform',activation="relu"))
model.add(Dense(units=5,kernel_initializer='uniform',activation="relu"))
model.add(Dense(units=5,kernel_initializer='uniform',activation="relu"))
model.add(Dense(units=1,kernel_initializer='uniform',activation="sigmoid"))

In [30]:
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [34]:
model.fit(X_train, Y_train, batch_size=10, epochs=20, validation_split=0.1)

Epoch 1/20
56/56 [==============================] - 0s 4ms/step - loss: 0.4141 - accuracy: 0.8232 - val_loss: 0.4528 - val_accuracy: 0.7778
Epoch 2/20
56/56 [==============================] - 0s 3ms/step - loss: 0.4078 - accuracy: 0.8357 - val_loss: 0.4247 - val_accuracy: 0.8413
Epoch 3/20
56/56 [==============================] - 0s 3ms/step - loss: 0.4038 - accuracy: 0.8268 - val_loss: 0.4703 - val_accuracy: 0.7619
Epoch 4/20
56/56 [==============================] - 0s 3ms/step - loss: 0.4066 - accuracy: 0.8250 - val_loss: 0.5089 - val_accuracy: 0.7778
Epoch 5/20
56/56 [==============================] - 0s 3ms/step - loss: 0.3992 - accuracy: 0.8357 - val_loss: 0.4672 - val_accuracy: 0.7619
Epoch 6/20
56/56 [==============================] - 0s 2ms/step - loss: 0.3969 - accuracy: 0.8411 - val_loss: 0.4549 - val_accuracy: 0.7619
Epoch 7/20
56/56 [==============================] - 0s 2ms/step - loss: 0.4072 - accuracy: 0.8268 - val_loss: 0.4131 - val_accuracy: 0.8413
Epoch 8/20
56/56 [==============================] - 0s 2ms/step - loss: 0.4069 - accuracy: 0.8250 - val_loss: 0.4642 - val_accuracy: 0.7619
Epoch 9/20
56/56 [==============================] - 0s 2ms/step - loss: 0.4049 - accuracy: 0.8250 - val_loss: 0.4183 - val_accuracy: 0.8413
Epoch 10/20
56/56 [==============================] - 0s 2ms/step - loss: 0.3997 - accuracy: 0.8357 - val_loss: 0.4583 - val_accuracy: 0.7619
Epoch 11/20
56/56 [==============================] - 0s 2ms/step - loss: 0.4094 - accuracy: 0.8268 - val_loss: 0.4098 - val_accuracy: 0.8413
Epoch 12/20
56/56 [==============================] - 0s 2ms/step - loss: 0.4064 - accuracy: 0.8268 - val_loss: 0.4464 - val_accuracy: 0.7937
Epoch 13/20
56/56 [==============================] - 0s 2ms/step - loss: 0.3944 - accuracy: 0.8268 - val_loss: 0.4765 - val_accuracy: 0.7778
Epoch 14/20
56/56 [==============================] - 0s 2ms/step - loss: 0.3952 - accuracy: 0.8321 - val_loss: 0.4578 - val_accuracy: 0.7619
Epoch 15/20
56/56 [==============================] - 0s 2ms/step - loss: 0.3927 - accuracy: 0.8339 - val_loss: 0.5273 - val_accuracy: 0.7778
Epoch 16/20
56/56 [==============================] - 0s 2ms/step - loss: 0.3899 - accuracy: 0.8321 - val_loss: 0.4826 - val_accuracy: 0.7619
Epoch 17/20
56/56 [==============================] - 0s 2ms/step - loss: 0.3895 - accuracy: 0.8357 - val_loss: 0.5448 - val_accuracy: 0.7778
Epoch 18/20
56/56 [==============================] - 0s 2ms/step - loss: 0.3903 - accuracy: 0.8375 - val_loss: 0.4267 - val_accuracy: 0.8095
Epoch 19/20
56/56 [==============================] - 0s 2ms/step - loss: 0.3899 - accuracy: 0.8411 - val_loss: 0.4916 - val_accuracy: 0.7619
Epoch 20/20
56/56 [==============================] - 0s 2ms/step - loss: 0.3890 - accuracy: 0.8321 - val_loss: 0.4534 - val_accuracy: 0.7937

In [38]:
X_train = X_train.astype('float32')
Y_train = Y_train.astype('float32')

model=Sequential()
model.add(Dense(units=20,activation="relu",input_dim=10,kernel_initializer='uniform'))
model.add(Dense(units=20,kernel_initializer='uniform',activation="relu"))
model.add(Dense(units=5,kernel_initializer='uniform',activation="relu"))
model.add(Dense(units=5,kernel_initializer='uniform',activation="relu"))
model.add(Dense(units=5,kernel_initializer='uniform',activation="relu"))
model.add(Dense(units=1,kernel_initializer='uniform',activation="sigmoid"))

model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

model.fit(X_train, Y_train, batch_size=10, epochs=20)

Epoch 1/20
63/63 [==============================] - 2s 1ms/step - loss: 0.6894 - accuracy: 0.6340
Epoch 2/20
63/63 [==============================] - 0s 1ms/step - loss: 0.6796 - accuracy: 0.6356
Epoch 3/20
63/63 [==============================] - 0s 1ms/step - loss: 0.6478 - accuracy: 0.6356
Epoch 4/20
63/63 [==============================] - 0s 1ms/step - loss: 0.6111 - accuracy: 0.6356
Epoch 5/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5965 - accuracy: 0.6356
Epoch 6/20
63/63 [==============================] - 0s 2ms/step - loss: 0.5871 - accuracy: 0.6356
Epoch 7/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5792 - accuracy: 0.6356
Epoch 8/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5713 - accuracy: 0.6356
Epoch 9/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5663 - accuracy: 0.6356
Epoch 10/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5623 - accuracy: 0.6404
Epoch 11/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5536 - accuracy: 0.7223
Epoch 12/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5490 - accuracy: 0.7143
Epoch 13/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5482 - accuracy: 0.7159
Epoch 14/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5388 - accuracy: 0.7271
Epoch 15/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5342 - accuracy: 0.7287
Epoch 16/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5301 - accuracy: 0.7319
Epoch 17/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5270 - accuracy: 0.7368
Epoch 18/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5231 - accuracy: 0.7352
Epoch 19/20
63/63 [==============================] - 0s 1ms/step - loss: 0.5205 - accuracy: 0.7368
Epoch 20/20
63/63 [==============================] - 0s 2ms/step - loss: 0.5182 - accuracy: 0.7352

In [17]:
X_train.dtypes

Pclass          int64
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Sex_female       bool
Sex_male         bool
Embarked_C       bool
Embarked_Q       bool
Embarked_S       bool
dtype: object

In [18]:
Y_train.dtypes

dtype('int64')